* {
  box-sizing: border-box;
  margin: 0%;
}
body {
  background-color: #fff;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
::selection {
  background: #ff5261;
  color: #fff;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  border-bottom: 1px solid lightgray;
}
header .logo {
  width: 100%;
  max-width: 120px;
  height: auto;
}
header .img-thumbnail {
  padding: 0;
  border: 0;
}
header .btn-primary {
  --bs-btn-focus-shadow-rgb: transparent;
  background-color: #ff1c30;
  border: none;
}
header .btn-primary:hover {
  background-color: #ff5261;
}
header .dropbtn {
  background-color: #ff1c30;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}
header .dropdown {
  position: relative;
  display: inline-block;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content a:hover {
  background-color: rgb(218, 218, 218);
  text-decoration: underline;
}
header .dropdown:hover .dropdown-content {
  display: block;
}
header .dropdown:hover .dropbtn {
  background-color: #ff5261;
}

main {
  padding: 20px 200px;
}
.action-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.table {
  margin-bottom: 0;
}
main .btn-primary{
  background-color: #ff1c30;
  border: none;
}
main .btn-primary:hover{
  background-color: #ff5261;
}
.fa-trash {
  color: red;
}
.fa-pencil {
  color: green;
}
.fa-book {
  color: blue;
}
.fa-user {
  color: orange;
}

.container-fluid{
  --bs-gutter-x: 0rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-top: 1px solid lightgray;
}
footer span {
  color: #ff1c30;
}

/* Sign In, Register and Change Password */
.wrapper {
  width: 360px;
  padding: 10px 20px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(212 212 212);
  margin-top: 2rem;
}
.wrapper .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.wrapper .btn-primary {
  background-color: #ff1c30;
  --bs-btn-focus-shadow-rgb: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
}
.wrapper .btn-primary:hover {
  background-color: #ff5261;
}
.wrapper .btn-secondary {
  --bs-btn-focus-shadow-rgb: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 10px;
}
a {
  color: #ff1c30;
  text-decoration: none;
}
a:hover {
  color: #dc3545;
  text-decoration: underline;
}
.btn-link {
  color: #ff1c30;
  text-decoration: none;
}
.btn-link:hover {
  color: #dc3545;
  text-decoration: underline;
}

.librarian-dashboard-actions  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }
  main {
    padding: 10px;
  }
  .librarian-dashboard-actions {
    flex-direction: column;
    justify-content: space-between;
}
  .action-list {
    flex-direction: column;
  }
  footer {
    padding: 10px;
    flex-direction: row;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    padding: 10px;
  }
  /* main {
    padding: 10px;
  } */
  .action-list {
    flex-direction: column;
  }
  footer {
    padding: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 10px 30px;
  }
  main {
    padding: 10px 30px;
  }
  footer {
    padding: 10px 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    padding: 10px 50px;
  }
  main {
    padding: 10px 50px;
  }
  footer {
    padding: 10px 50px;
  }
}
@media (min-width: 1281px) and (max-width: 1899px) {
  header {
    padding: 10px 100px;
  }
  main {
    padding: 10px 100px;
  }
  footer {
    padding: 10px 100px;
  }
}
/* @media (min-width: 1900px) {
  header {
    padding: 10px 200px;
  }
  main {
    padding: 10px;
  }
  footer {
    padding: 10px 200px;
  }
} */