* {
  box-sizing: border-box;
  margin: 0%;
}
body {
  background-color: #fff;
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
::selection {
  background: #ff5261;
  color: #fff;
}

/* Header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  border-bottom: 1px solid lightgray;
}
header .logo {
  width: 100%;
  max-width: 120px;
  height: auto;
}
.dropbtn {
  background-color: #ff1c30;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(231, 231, 231);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: rgb(218, 218, 218);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #ff5261;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-top: 1px solid lightgray;
}
footer span {
  color: #ff1c30;
}


.wrapper {
  width: 360px;
  padding: 20px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(212 212 212);
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-primary {
  background-color: #ff1c30;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #ff5261;
}
.btn-secondary {
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}

a {
  color: #ff1c30;
  text-decoration: none;
}
a:hover {
  color: #dc3545;
  text-decoration: underline;
}
.btn-link {
  color: #ff1c30;
  text-decoration: none;
}
.btn-link:hover {
  color: #dc3545;
  text-decoration: underline;
}
